.completed-row, .incompleted-row, .overdue-row {
    position: relative;
    background-color: white;
}

.completed-row::after {
    content: 'COMPLETED';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(201, 247, 245, 0.5);
    color: #1BC5BD;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
    display: inline-block;
    user-select: none;
    cursor: not-allowed;
}

.completed-row td {
    user-select: none;
    cursor: not-allowed;
    opacity: 0.3;
}

.incompleted-row::after {
    content: 'INCOMPLETE';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 226, 229, 0.2);
    color: var(--bs-danger);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
    display: inline-block;
    user-select: none;
    cursor: not-allowed;
}

.incompleted-row td {
    user-select: none;
    cursor: not-allowed;
    opacity: 0.3;
}

.overdue-row::after {
    content: 'OVERDUE';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    color: var(--bs-warning);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
    display: inline-block;
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.overdue-row td {
    opacity: 0.3;
}

.responsive-truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
}


.link-dark {
    color: var(--primary) !important;
    font-weight: bold;
}

.link-dark:hover {
    color: var(--primary) !important;
    text-decoration: underline !important;
}